<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Contact Us - Best Cars Dealership</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Best Cars Dealership</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/about">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Contact Us</h2>
                <hr>
                <div class="card mt-4" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Customer Service">
                    <div class="card-body">
                        <h5 class="card-title">Customer Support</h5>
                        <p class="card-text">Our team is available 24/7 to help you with your car buying journey.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <h3>Get in Touch</h3>
                <p><b>Address:</b> 123 University Street, Hanoi, Vietnam</p>
                <p><b>Phone:</b> +84 123 456 789</p>
                <p><b>Email:</b> support@bestcars.com</p>
                <p><b>Lead Developer:</b> Huy - FPT University</p>
                
                <div class="mt-4">
                    <h5>Inquiry Form</h5>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
